*{
	box-sizing: border-box;
}

h1{
font-size: 50px;
font-family: 'Century Gothic' ;
color: black;
font-weight: bold;
letter-spacing: 1,5px;
}

.checkbox {
padding: 5px;
transform: rotate(345deg) scale(1.75);

cursor : pointer;
margin-right:10px;
}

.textBarre{
    text-decoration: line-through; 
    /*HUGROS PD*/
}


ul li:hover { /*background plus foncé */
  background: #ddd; 
width: 87%;
}

.fa-solid {
color : green;
}



#liste {
  position: relative;
  font-size : 20px;
  font-family : Verdana;
}

.dateDeFin {
    font-weight: bold;
}
.description{
    display:none;
}
.titres:hover + .description{
    display: content;
    color: blue;
    font-size: 12px;
    font-style: italic;
}



#Supprimer:hover{
	background-color: red;
     color: white;
	 border-color: black;
     
}

#Supprimer{
    float: right;
    margin-right: 50px;
    margin-top: -50px;
}

#Enregistrer:hover{
	background-color: green;
     color: white;
	 border-color: black;
}

#Enregistrer{
    float: right;
    margin-right: 50 px;
}



.prioBasse{
	color: green;}
.prioNorm{
    color: black;}
.prioHaute{
    color: red;}


.hr {
    width: 85%;
    height: 5px;
    background-color: black;
}
h2 {
    font-family: "Century Gothic";
    margin-top: 30px;
}
